<footer class="py-5 bg-[#102542]">
  <div class="flex justify-between mx-4 md:mx-auto md:w-2/3 text-white">
      <p>
        &copy; 2025 MKMBA Limited.
        <a href="https://app.companiesoffice.govt.nz/companies/app/ui/pages/companies/8393749" target="_blank" class="px-5 text-sm text-slate-200  hover:text-[#F8F0FB]">NZBN 9429050655762</a>
      </p>
      <div>
          <a href="{{ relref . "legal"}}" class="px-5 text-sm text-slate-200  hover:text-[#F8F0FB]">privacy / legal</a>
      </div>
  </div>
</footer>
