<footer class="site-footer">
  <div class="container footer__top">
    <div>
      <span class="brand" style="font-size:22px;">
        <span class="brand__mark brand__mark--on-dark">M</span>
        <span class="brand__word brand__word--on-dark">MKMBA</span>
      </span>
      <p class="footer__blurb">Family-owned. Built and operated in New Zealand.</p>
    </div>
    <div class="footer__cols">
      <div>
        <h5 class="footer__h">Build</h5>
        <a class="footer__link" href="https://oncall-optimizer.com/">On-Call Optimizer</a>
        <a class="footer__link" href="https://co2mon.nz/">co2mon.nz</a>
        <a class="footer__link" href="https://www.mattb.nz/">Advisory</a>
      </div>
      <div>
        <h5 class="footer__h">Company</h5>
        <a class="footer__link" href="/#how-we-work">Approach</a>
        <a class="footer__link" href="/#contact">Contact</a>
      </div>
    </div>
  </div>
  <div class="footer__legal">
    <span>&copy; {{ now.Year }} MKMBA Limited &middot; Solving real problems with technology</span>
    <span>
      <a href="https://app.companiesoffice.govt.nz/companies/app/ui/pages/companies/8393749" target="_blank" rel="noopener">NZBN 9429050655762</a>
      &nbsp;&middot;&nbsp;
      <a href="{{ "legal" | relLangURL }}">Privacy / legal</a>
    </span>
  </div>
</footer>
